@model Mooshak2.Models.ViewModels.StudentAssignmentViewModel
@{
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

    <script src="https://code.jquery.com/jquery-1.9.1.min.js">

        $(document).ready(function () {

        $(".btn").click(function () {
            var divToToggle = $($(this).find("button").attr('href'));
            $(".toggle:visible").not(divToToggle).hide();
            divToToggle.slideToggle("slow");

        });
        });


    </script>
@*
<div class="container-fluid" id="fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" id="navtitle">
                    <h2 class="navtitle">Assignments</h2>
                </div>
                <div class="panel-body" id="navbuttons">
                    @foreach (var item in Model.assignments)
                    {
                        <button type="button" class="btn btn-default" id="btn-id" data-toggle="collapse" data-path="#accordion" href="#box_@item.id">@item.assignmentName</button>
                        <div id="button_@item.id" class="collapse">
                            <span> - @item.assignmentSubName </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    *@

        <!--FORM TIL AÐ TAKA VIÐ CPP SKJALI-->
        
           @foreach (var item in Model.assignments)
           {
                <h3>@item.assignmentName</h3>
                <form action="~/Assignment/GetAssignmentFileFromUser" method="post">

                    <label for="file">Filename:</label>
                    <input type="file" name="file" id="file" />
                    <br />
                    <input type="text" id="assignmentname" name="assignmentname" style="visibility:none;"/>
                    <input type="submit" name="submit" value="Submit" />
                </form>
              
           }
           
           
        @*
    <div class="col-md-1"></div>
    
        <div class="col-md-7">

    @foreach (var item in Model.assignments)
            {
            <div class="toggle" id="box_@item.id">
                <div class="panel panel-default" id="button_@item.id">
                    <div class="panel-heading">

                        <h1 class="panel-title">@item.assignmentName - @item.assignmentSubName</h1>

                        <form action="~/Assignment/GetAssignmentFileFromUser" id="studentform" method="post">
                            
                            <input type="hidden" name="assignmentname" id="assignmentname" value="@item.assignmentName" />
                            
                            <label for="file">
                                <span class="glyphicon glyphicon-folder-open" id="foldericon" aria-hidden="true">File</span>
                            </label>
                            <input type="file" id="file" name="file" style="display:none">
                            <label for="submit">
                                <span class="glyphicon glyphicon-floppy-disk" id="saveicon" aria-hidden="true">Submit</span>
                                <input type="submit" id="submit" style="display:none">
                            </label>
                        </form>
                    </div>

                    <div class="panel-body">


                        <p>@item.description</p>



                        @* ------- byrjun á Javascript til að birta viðkomandi description ---------------
                            <script>
                                $(document).ready(function()
                                {
                                    $("#show").click(function(){
                                        $("p").show(@item.description);
                                    });

                                });

                            </script>*@

                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>HOME</h3>
                    <p>Það þarf að laga helling hérna en ágætis byrjun...</p>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Some content in menu 1.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------

<table class="table-bordered">
    <thead>
        <tr>
            <th>Assignment Name:</th>
            <th>Assignment SubName:</th>
            <th>Description:</th>
            <th>Due Date:</th>
            <th>ID:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.assignments)
        {
            <tr>
                <td>@item.assignmentName</td>
                <td>@item.assignmentSubName</td>
                <td>@item.description</td>
                <td>@item.dueDate</td>
                <td>@item.id</td>
            </tr>
        }
    </tbody>
</table>

--------------------->

     <ul>
       @foreach (var x in @Model.assignmentStudent )
        {
            <li>AssignmentID: @x.assignmentId</li>
            <li>HasBeenTurnedIn:@x.hasBeenTurnedIn</li>
            <li>StudentID:@x.studentId</li>
            <li>ID:@x.id</li>
        }
    </ul>
    
    

