@model Mooshak2.Models.ViewModels.StudentAssignmentViewModel
@{
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}



<h2>Here is a list of the assignments</h2>

<br />

<br />

<div class="assignmentlist">
    <label for="assignments"/>
    
    <select multiple="multiple" id="assignment-list">
        @foreach (var item in Model.assignments)
        {
            <option>@item.assignmentName</option>
        }
    </select>
</div>

<div class="descforassignments">
    <textarea class="descrptionhere" cols="50" rows="50">jahjlkdfhsjldahfjlkasdhflkjashd
    fjkashfjkasdhfjlkhdslkjafhjlkas
    fhdsjkalhfjkdashflkjashlkfjas</textarea>


</div>


<div class="dropdown">
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown trigger
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
        @foreach(var item in Model.assignments)
        {
            <li>@item.assignmentName</li>
        }

    </ul>
</div>


<!--------------------

<table class="table-bordered">
    <thead>
        <tr>
            <th>Assignment Name:</th>
            <th>Assignment SubName:</th>
            <th>Description:</th>
            <th>Due Date:</th>
            <th>ID:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.assignments)
        {
            <tr>
                <td>@item.assignmentName</td>
                <td>@item.assignmentSubName</td>
                <td>@item.description</td>
                <td>@item.dueDate</td>
                <td>@item.id</td>
            </tr>
        }
    </tbody>
</table>

--------------------->


     <ul>
       @foreach (var x in @Model.assignmentStudent )
        {
            <li>AssignmentID: @x.assignmentId</li>
            <li>HasBeenTurnedIn:@x.hasBeenTurnedIn</li>
            <li>StudentID:@x.studentId</li>
            <li>ID:@x.id</li>
        }
    </ul>
    <hr />
    <h1>This students id is : @Model.currentStudentId</h1>

