@model Mooshak2.Models.ViewModels.StudentAssignmentViewModel
@{
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

<div class="container-fluid" id="fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" id="navtitle">
                    <h2 class="navtitle">Assignments</h2>
                </div>
                <div class="panel-body" id="navbuttons">
                    @foreach (var item in Model.assignments)
                    {
                        <button type="button" class="btn btn-default" id="btn-id" data-toggle="collapse" data-path="#accordion" href="#@item.id">@item.assignmentName</button>
                        <div id="@item.id" class="collapse">
                            <span> - @item.assignmentSubName </span>
                        </div>
                    }
                </div>
            </div>
        </div>

    <div class="col-md-1"></div>
    
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @foreach (var item in Model.assignments)
                    {
                        <h1 class="panel-title">@item.assignmentName - @item.assignmentSubName</h1>
                    }
                        
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.assignments)
                    {
                        <p>@item.description</p>
                    }
                    @* --------------- for testing purposes --------------*@
                       
                    @foreach (var item in Model.assignments)
                    {
                        <p>@item.description</p>
                    }
                    @foreach (var item in Model.assignments)
                    {
                        <p>@item.description</p>
                    }
                    @foreach (var item in Model.assignments)
                    {
                        <p>@item.description</p>
                    }
                    @* --------------- for testing purposes --------------*@
                    
    
                    @* ------- byrjun á Javascript til að birta viðkomandi description ---------------
                    <script>
                        $(document).ready(function()
                        {
                            $("#show").click(function(){
                                $("p").show(@item.description);
                            });

                        });
                     
                    </script>*@
                        
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>HOME</h3>
                    <p>Það þarf að laga helling hérna en ágætis byrjun...</p>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Some content in menu 1.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------

<table class="table-bordered">
    <thead>
        <tr>
            <th>Assignment Name:</th>
            <th>Assignment SubName:</th>
            <th>Description:</th>
            <th>Due Date:</th>
            <th>ID:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.assignments)
        {
            <tr>
                <td>@item.assignmentName</td>
                <td>@item.assignmentSubName</td>
                <td>@item.description</td>
                <td>@item.dueDate</td>
                <td>@item.id</td>
            </tr>
        }
    </tbody>
</table>

--------------------->

     <ul>
       @foreach (var x in @Model.assignmentStudent )
        {
            <li>AssignmentID: @x.assignmentId</li>
            <li>HasBeenTurnedIn:@x.hasBeenTurnedIn</li>
            <li>StudentID:@x.studentId</li>
            <li>ID:@x.id</li>
        }
    </ul>
    
    

