@model Mooshak2.Models.ViewModels.StudentAssignmentViewModel
@{
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}


<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

        $(document).ready(function () {
            $("button#btn-id.btn").click(function () {
                var selected = $(this).attr('href');
                $(selected).show('slow').siblings().hide('slow');
            });
        });

</script>

<div class="container-fluid" id="fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" id="navtitle">
                    <h2 class="navtitle">Assignments</h2>
                </div>
                <div class="panel-body" id="navbuttons">
                    @foreach (var item in Model.assignments)
                    {
                        <button type="button" class="btn btn-default" id="btn-id" href="@("#box" + item.id)">@item.assignmentName</button>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-7">

            @foreach (var item in Model.assignments)
            {
                <div class="collapse" id="@("box" + item.id)">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-heading">@item.assignmentName - @item.assignmentSubName</h1>
                            <form action="~/Assignment/GetAssignmentFileFromUser" class="studentform" method="post" enctype="multipart/form-data">
                                <input type="hidden" class="asName" name="asName" value=@item.id />
                                @*<label for="file">
                                    <span class="glyphicon-folder-open" aria-hidden="true">File</Span>*@
                                <input type="file" name="file" />
                                @*</label>*@

                                @*<label for="submit">*@
                                @*<span class="glyphicon-floppy-disk" aria-hidden="true">Submit</span>*@
                                <input type="submit" value="submit" />
                                @*</label>*@
                            </form>

                        </div>
                        <div class="panel-body">
                            <p>@item.description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>Submissions</h3>
                    <table class="table-responsive">
                        <thead>
                        <tr>
                            <th>Hand in number:</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                    <tbody>
                        @foreach (var item in Model.assignmentStudent)
                        {
                            if (item.hasBeenTurnedIn == 1)
                            {
                                <tr class="success">
                                    <td>@item.id</td>
                                    <td>Success</td>
                                </tr>
                            }
                        }
                    </tbody>
                    </table>
                       
</div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Some content in menu 1.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                </div>
            </div>
        </div>
    </div>
</div>