@model List<Mooshak2.Models.Entity.Course>
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@******************************************************
        <div class="container-fluid" id="fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="navtitle">
                            <h2 class="navtitle">Users</h2>
                        </div>
                        <div class="panel-body" id="navbuttons"></div>
                    </div>
                </div>
    *****************************************************@

<div class="container-fluid" id="fluid">
    <div class="row">
    <!----    <div class="col-md-1"></div>  --->

        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="navtitle">Create User</h2>
                </div>

                <form action="CreateUser" method="POST" class="form-horizontal">

                    <div class="form-group">
                        <div class="alert-danger">@Html.ValidationMessage("name")</div>
                        <label class="col-sm-2 control-label" for="name">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" />
                        </div>
                     </div>

                     <div class="form-group">
                         <div class="alert-danger">@Html.ValidationMessage("username")</div>
                         <label class="col-sm-2 control-label" for="username">User Name:</label>
                         <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" name="username" />
                         </div>
                      </div>

                      <div class="form-group">
                          <div class="alert-danger">@Html.ValidationMessage("password")</div>
                          <label class="col-sm-2 control-label" for="password">Password:</label>
                          <div class="col-sm-10">
                              <input type="password" class="form-control" id="password" name="password" />
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="alert-danger">@Html.ValidationMessage("ssn")</div>
                          <label class="col-sm-2 control-label" for="ssn">SSN:</label>
                          <div class="col-sm-10">
                              <input type="text" class="form-control" id="ssn" name="ssn" />
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="alert-danger">@Html.ValidationMessage("email")</div>
                          <label class="col-sm-2 control-label" for="email">Email:</label>
                          <div class="col-sm-10">
                              <input type="email" class="form-control" id="email" name="email" />
                          </div>
                      </div>
                        @*<div class="alert-danger">@Html.ValidationMessage("role")</div>*@
                        <div id="style-button">
                            <input type="radio" name="role" id="role" value="1" /> Student <br />
                            <input type="radio" name="role" id="role" value="2" /> Teacher <br />
                        </div>
                        <hr />
                        <h2 class="navtitle" id="h2padding">Pick a course below</h2>
                        <div id="style-button">
                            @foreach (var item in @Model)
                            {
                                <input type="radio" name="course" id="course" value="@item.courseName" /> @item.courseName<br />
                            }
                        </div>
                        <hr />
                        <div class="form-group">
                            <input type="submit" id="submit" value="Create User" />
                        </div>

                    <!---------------------------------
                        <div class="form-group">
                            <button type="submit" id="formButton" value="Save">Save</button>
                        </div>
                        -------------------------------------------------->




                </form>
            </div>
        </div>
    </div>
</div>