@model Mooshak2.Models.ViewModels.AdminUserViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid" id="fluid">
    <div class="row">
    <!----    <div class="col-md-1"></div>                -->
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="navtitle">List of Teachers</h2>
                </div>
                <form action="ViewCourses" method="POST" class="form-horizontal">
                    <div class="created-div">
                        <table class="table" >
                            <tr>
                                <th>Name</th>
                                <th>SSN</th>
                                <th>Email</th>
                            </tr>
                            @foreach (var item in Model.teachers)
                            {
                            <tr >
                                <td>@item.name</td>
                                <td>@item.ssn</td>
                                <td>@item.email</td>
                            </tr>
                            }
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" >      <!--------var svona-------<div class="container-fluid" id="fluid"-->
    <div class="row">
   <!---     <div class="col-md-1"></div>  --->
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="navtitle">List of Students</h2>
                </div>
                <form action="ViewCourses" method="POST" class="form-horizontal">
                    <div class="created-div">
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <th>SSN</th>
                                <th>Email</th>
                            </tr>
                            @foreach (var item in Model.students)
                            {
                            <tr>
                                <td>@item.name</td>
                                <td>@item.ssn</td>
                                <td>@item.email</td>
                            </tr>
                            }
                            </table>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Return home", "HomePage", "Admin")
</div>